*.DS_Store
*.a
*.class
*.jar
*.o
*.so
*~
.cproject
.project
.sconsign.dblite
.settings/*
cpp/.settings/*
libs
QA
ajlite.nvram
alljoyn-daemon
bin
build
deploy
docs/*.html
docs/html/*.html
gen
lib
local.properties
obj*
ios/samples/alljoyn_services_objc/alljoyn_services_common_objc.xcodeproj/xcuserdata
ios/samples/alljoyn_services_cpp/alljoyn_services_common_cpp.xcodeproj/xcuserdata
ios/samples/alljoyn_services_cpp/alljoyn_services_common_cpp.xcodeproj/project.xcworkspace/xcuserdata
*.xccheckout
*.xcuserstate
